<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sendtion.xrichtextdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--解决项目minSDK与第三方库minSDK不一致情况-->
    <uses-sdk tools:overrideLibrary="com.github.ielse.imagewatcher"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NewActivity"
            android:label="@string/title_activity_new"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.NoteActivity"
            android:label="@string/title_activity_note"/>

        <!--图片选择器-->
        <!--<activity-->
            <!--android:name="me.iwf.photopicker.PhotoPickerActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="me.iwf.photopicker.PhotoPagerActivity"-->
            <!--android:screenOrientation="portrait" />-->

        <!--知乎图片选择器，适配7.0系统-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sendtion.matisse.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>